
<div class="center">
  <p class="text-success"><%= flash[:notice] %></p>
  <h2>やまれぽ！！で登山の感想、記録を共有しましょう！</h2>
  <div class="space"></div>
  <h4>
    やまれぽ！！では会員登録をすることで、登頂した山のデータや感想を記録し、<br>
    他のユーザーと共有する事が出来ます！<br>
    会員登録をしなくても他のユーザーのレポートは見ることが出来ます！<br>
    <div class="space"></div>
    <%= link_to "試しに見てみる",reports_path %>
  </h4>

  <div class="space"></div>

  <h3 class="text-danger">やまれぽ！！でレポートを残して、色褪せない思い出を積み重ねましょう！！</h3>

  <%=link_to "今すぐ会員登録する(無料)", new_user_registration_path, class: "btn btn-success mt-5" %>
  <p class="mt-3">※会員登録がお済みの方は、メニューよりログインしてください。</p>

</div>
